<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>错误页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="个人学习测试网站">
    <meta name="description" content="dzl">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/errorpage.css">
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
</head>
<body >
<div id="app">

    <div th:replace="header :: header"></div>
    <div  class="error500img">
        <div class="clear"></div>
    </div>
</div>
<script src="js/all.js"></script>
</body>
</html>