<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT">
    <meta name="description" content="dzl">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lastUrl.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>


</head>
<body>
<div id="app">
    <div th:replace="header :: header"></div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-3 ">
            <div id="left">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title"><img src="/img/lang.jpg" class="imgStyle">阿祖</h3>
                    </div>
                    <div class="am-panel-bd ">
                        <div>
                            <p>行百里者半九十！</p>
                            <p>努力吧，努力吧。成为更优秀的人！</p>
                        </div>
                    </div>

                    <div class="am-panel-bd">
                        <hr style="margin: -30px 10px 10px 10px">
                        <ul class="am-avg-sm-4">
                            <div class="am-u-sm-12 am-u-lg-3"><a href="https://github.com/start-dzl"><span
                                    class="am-icon-github"></span></a></div>
                            <div class="am-u-sm-12 am-u-lg-3"><a href=""><span class="am-icon-weibo  "></span></a></div>
                            <div class="am-u-sm-12 am-u-lg-3"><a href=""><span class="am-icon-reddit  "></span></a></div>
                            <div class="am-u-sm-12 am-u-lg-3"><a href=""><span class="am-icon-weixin"></span></a></div>
                        </ul>

                    </div>

                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">热门文章</div>
                    <ul class="am-list blog-list">

                    </ul>
                </div>
            </div>

        </div>
        <div class="am-u-sm-12 am-u-lg-9">

            <div class="articles">
                <h1 class="bg-Title">
                    <div><a class="bg-myStory-a">文章</a></div>
                </h1>
            </div>
            <div class="my-row" id="page-father">
                <div id="pagination">
                    <ul class="am-pagination  am-pagination-centered">
                        <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                        <li class="am-active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页 &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
</div>

<script src="js/index.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
</body>
</html>