<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT">
    <meta name="description" content="dzl">

    <link rel="icon" type="image/x-icon" href="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/favicon.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="js/lastUrl.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>


</head>
<body>

<div th:replace="header :: header"></div>

<div class="am-g doc-am-g">
    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <h3 class="am-panel-title"><img src="/img/lang.jpg" class="imgStyle">阿祖</h3>
            </div>
            <div class="am-panel-bd">
                这里是面板其他内容。
                这里是面板其他内容。
                这里是面板其他内容。
                这里是面板其他内容。
            </div>

            <ul class="am-list am-list-static">
                <li>...</li>
            </ul>
            <div class="am-panel-footer">...</div>
        </div>

            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">
                    <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                        ...
                    </h4>
                </div>
                <div id="do-not-say-1" class="am-panel-collapse am-collapse">
                    <div class="am-panel-bd">
                        ...
                    </div>
                </div>
            </div>
    </div>
    <div class="am-u-sm-6 am-u-md-8 am-u-lg-9">
        <div class="articles">
            <div class="center">
                <div class="empty">
                    <header class="article-header">
                        <h1 itemprop="name">
                            <a class="article-title" href="#" target="_blank">&nbsp;</a>
                        </h1>
                        <div class="article-meta row">
                            <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        </div>
                    </header>
                    <div class="article-entry" style="height: 200px">
                    </div>
                    <div class="read-all">
                        <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                    </div>
                    <hr>
                    <div class="article-tags">
                        <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                        <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                        <!--<span class="likes"><i class="am-icon-heart"> 个喜欢</i></span>-->
                    </div>
                </div>
            </div>

        </div>
        <div class="my-row" id="page-father">
            <div id="pagination">
                <ul class="am-pagination  am-pagination-centered">
                    <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">下一页 &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--引入共有底部-->
<div th:replace="footer :: footer"></div>

<script src="js/index.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
</body>
</html>